
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-color {
  font-size: 30px;
  background: linear-gradient(to right, #eee, #ce53f0);
  color: transparent;
}

.input{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
 
}
.job-title{
    font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.card-detail{
    font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.card-details{
    font-family: "Poppins", sans-serif;
  font-weight: 600;
}